@import 'tailwindcss';

@theme {
  /* Colors */
  --color-brand: #3f2103;
  --color-brand-hover: #654321;
  --color-primary: #007acc;
  --color-primary-hover: #0066b3;
  --color-muted: #f9f9f9;

  /* Fonts */
  --font--sans: 'Inter', sans-serif;
  --font--serif: 'Merriweather', serif;
  --font--mono: 'Fira Code', monospace;
}
